/config/backup/
/config/customize/
/config/solr/instances/default/
/config/languages/
/config/licence/
/config/orbeon/
/config/tomcat/
/bin/modules/
/bin/modules/api-registry/apiregistryservices/
/bin/modules/platform/auditreportservices/
/bin/modules/backoffice-framework/backoffice/
/bin/modules/base-commerce/basecommerce/
/bin/modules/commerce-services/commerceservices/
/bin/modules/base-commerce/customerreview/
/bin/modules/platform/embeddedserver/
/bin/modules/integration-apis/inboundservices/
/bin/modules/integration-apis/integrationbackoffice/
/bin/modules/integration-apis/integrationbackofficetest/
/bin/modules/integration-apis/integrationmonitoringbackoffice/
/bin/modules/integration-apis/integrationservices/
/bin/modules/integration-apis/odata2services/
/bin/modules/integration-apis/odata2webservices/
/bin/modules/integration-apis/outboundservices/
/bin/modules/base-commerce/payment/
/bin/modules/backoffice-framework/platformbackoffice/
/bin/modules/base-commerce/promotions/
/bin/modules/search-services/searchservices/
/bin/modules/search-and-navigation/solrfacetsearch/
/bin/modules/platform/tomcatembeddedserver/
/bin/modules/base-commerce/voucher/
/bin/modules/integration-apis/webhookservices/
/bin/modules/web-services-commons/webservicescommons/
/bin/platform/ext/advancedsavedquery/
/bin/platform/ext/catalog/
/bin/platform/ext/comments/
/bin/platform/ext/commons/
/bin/platform/ext/core/
/bin/platform/ext/deliveryzone/
/bin/platform/ext/europe1/
/bin/platform/ext/hac/
/bin/platform/ext/impex/
/bin/platform/ext/maintenanceweb/
/bin/platform/ext/mediaweb/
/bin/platform/ext/oauth2/
/bin/platform/ext/paymentstandard/
/bin/platform/
/bin/platform/ext/platformservices/
/bin/platform/ext/processing/
/bin/platform/ext/scripting/
/bin/platform/ext/testweb/
/bin/platform/ext/validation/
/bin/platform/ext/workflow/
/bin/custom/zintegrationtool/gensrc/